.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


img {
  width: auto;
  height: 170px;

}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 background-color: #d6c3bc;
 
}
.buttons {
  text-align: center;
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}
.box {
  width: 32%;
  margin-bottom: 2%;
  position: relative;
  /* background-color: grey */
  /* background-image: linear-gradient(to right, #6A6C6E, white); */

  color: #003366;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px auto;

} 

.box:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}


a {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  padding: 10px;
}



.inner {
  display: block;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10px;
  border: 3px solid #F0AC11;
  border-radius: 5px;
  background-image: linear-gradient(-45deg, white, lightgrey);
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
} 

.inner:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.5);
}

.brewery {
  width: 25px;
  height: auto;
  display: inline-block;
}

.loginstuff {
  float:right;
}

.caption {
  font-style: italic;
  font-size: 13px;
}
.postbeer {
  text-align: center;
  padding: 10px;

}
/* NAV Bar */



nav {
  background-color: #006790;
  color: #F0AC11;
  height: 100px;
}

nav a {
  color: #F0AC11;
  font-size: 20px;
  font-family: 'Rancho', cursive;
  margin: 0;
}
nav a div {
  margin: 0
}
nav {
  margin-bottom: 10px
}

.form {
  margin-left: 20px;
}

form {
  text-align: center;
  
}

.beerTitle {
  background-color: #006790;
  border-radius: 3px;
  color: #F0AC11;
margin: 0 auto;
padding: 10px;
text-align: center;
}

input {
  padding: 10px;
  border-radius: 20px;
  margin: 5px;
}
.categoryH {
width: 0;
word-wrap: break-word;
  font-size: 32px;
  font-style: italic;
  float: left;
  color: #F0AC11;
  margin-left: 20px;
  font-family: 'Rancho', cursive;
}

.rando {
  font-family: 'Rancho', cursive;
  letter-spacing: 1px;
  font-size: 19px;
}
.cheers {
  max-width: 40px;
  height: auto;
}
.randobeer {
  float: left;
  background-color: #006790;
  color: #F0AC11;
  width: 25%;
  border-radius: 40%;
  text-align: center;

}

button {
  background-color: #F0AC11;
  border-style: none;
  text-align: center;
  padding: 6px;
  border-radius: 20px;
  font-family: inherit;
}

.right {
  background-color: #006790;
  color: #F0AC11;
  font-style: oblique;
  font-weight: bolder;
}

.right:hover {
  background-color: #F0AC11;
  color: #006790;

}

button:hover {
  background-color: purple;
  color: white;
}

@media screen and (max-width: 600px) {
  nav {
    background-color: #006790;
    color: #F0AC11;
    height: auto;
  }
  .inner {
    display: block;
   margin: 15px auto;
   margin-left: 15px;
   margin-right: 15px;
    border: 3px solid #F0AC11;
    border-radius: 5px;
    background-image: linear-gradient(-45deg, white, lightgrey);
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  } 
  

  h1.categoryH {
    text-align: left;
    word-wrap: normal;
    float: none;
  }
  
  nav a {
    color: #F0AC11;
    font-size: 10px;

    font-family: 'Rancho', cursive;
    margin: 0 auto;
    padding: auto;
  }
  nav a div {
    margin: 0
  }
  nav {
    margin-bottom: 10px
  }
}